@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page not found.</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<body style="margin: 0px;border: 0px">
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top: 50px;text-align: center; ">
   <img src="~/images/error.gif" alt="" style="width: 50%; padding-bottom: 20px">
    <h3 style="color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;">
    <i class="bi bi-exclamation-triangle-fill"></i> Bạn không có quyền truy cập trang này!</h3>
    <div style="text-align: center; margin-top: 40px;display: flex">
        <form action="/trangchu" method="GET">
        <button class="btn btn-secondary btn-lg" type="submit" style="background-color: #283e6a; border-color: #283e6a;margin-left:100px">
            <i class="bi bi-house-heart"></i> Trang Chủ
        </button>
        </form>
        <form action="/nguoidung/DangNhap" method="GET">
        <button class="btn btn-secondary btn-lg" type="submit" style="background-color: #283e6a; border-color: #283e6a;margin-left:20px">
             Đăng nhập
        </button>
        </form>
    </div>
    
</div>
</div>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>